### 1. Create a database called retails.
### 2. Connect to the newly created database and create tables called customer and orders.
### 3. Add a new ‘is_sale’ column in ‘orders’ table.
### 4. Insert values into the customer table and display the contents.
(1001, 34, 'Austin', 'male'), (1002, 37, 'Houston', 'male'), (1003, 25, 'Austin', 'female'), (1004, 28, 'Houston', 'female'), (1005, 22, 'Dallas', 'male')
### 5. Show the details of customers who are located in Austin City.
### 6. Group customers based on location and display the information.
### 7. Group customers based on their gender and display the information.
### 8. Insert values into the orders table and display the contents.
('2022-10-1', 100.25, 1), ('2022-10-2',200.75, 2), ('2022-10-3',500.00,3), ('2022-10-3', 600.00,4), ('2022-10-4', 600.00,5)
### 9. Show order details that were purchased on 2022-10-03.
### 10. Show orders that have an order amount of more than 300.
### 11. Show all orders placed on 2022-10-03 and represent it in sorted form with respect to the amount spent.
### 12. Count the number of distinct days in the data.
### 13. Count the orders grouped by date.
### 14. Calculate the average order amount for all days.

In [2]:
import sqlite3

conn = sqlite3.connect('retails.db')

In [3]:
conn = sqlite3.connect('retails.db')

conn.execute('''CREATE TABLE customer
             (cust_id INT PRIMARY KEY NOT NULL,
             age INT NOT NULL,
             city TEXT NOT NULL,
             gender CHAR(6) NOT NULL);''')

conn.execute('''CREATE TABLE orders
             (order_id INT PRIMARY KEY NOT NULL,
             order_date DATE NOT NULL,
             amount FLOAT NOT NULL,
             cust_id INT NOT NULL,
             FOREIGN KEY (cust_id) REFERENCES customer(cust_id));''')

conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect('retails.db')
conn.execute("ALTER TABLE orders ADD COLUMN is_sale BOOLEAN")
conn.commit()
conn.close()

In [5]:
conn = sqlite3.connect('retails.db')
conn.execute("INSERT INTO customer (cust_id, age, city, gender) VALUES (1001, 34, 'Austin', 'male')")
conn.execute("INSERT INTO customer (cust_id, age, city, gender) VALUES (1002, 37, 'Houston', 'male')")
conn.execute("INSERT INTO customer (cust_id, age, city, gender) VALUES (1003, 25, 'Austin', 'female')")
conn.execute("INSERT INTO customer (cust_id, age, city, gender) VALUES (1004, 28, 'Houston', 'female')")
conn.execute("INSERT INTO customer (cust_id, age, city, gender) VALUES (1005, 22, 'Dallas', 'male')")
conn.commit()

cursor = conn.execute("SELECT * FROM customer")
for row in cursor:
    print(row)

conn.close()

(1001, 34, 'Austin', 'male')
(1002, 37, 'Houston', 'male')
(1003, 25, 'Austin', 'female')
(1004, 28, 'Houston', 'female')
(1005, 22, 'Dallas', 'male')

In [6]:
conn = sqlite3.connect('retails.db')
cursor = conn.execute("SELECT * FROM customer WHERE city='Austin'")
for row in cursor:
    print(row)
conn.close()

(1001, 34, 'Austin', 'male')
(1003, 25, 'Austin', 'female')

In [7]:
conn = sqlite3.connect('retails.db')
cursor = conn.execute("SELECT city, COUNT(*) as count FROM customer GROUP BY city")
for row in cursor:
    print(row)
conn.close()

('Austin', 2)
('Dallas', 1)
('Houston', 2)

In [8]:
grouped_gender = customer_table.groupby('gender')
print(grouped_gender.count())

NameError: name 'customer_table' is not defined

In [12]:
orders_data = [('2022-10-1', 100.25, 1), ('2022-10-2',200.75, 2), ('2022-10-3',500.00,3), ('2022-10-3', 600.00,4), ('2022-10-4', 600.00,5)]
for data in orders_data:
    cursor.execute("INSERT INTO orders (order_date,amount,customer_id) VALUES (?,?,?)", data)
connection.commit()
cursor.execute("SELECT * FROM orders")
print(cursor.fetchall())

ProgrammingError: Cannot operate on a closed database.

In [13]:
cursor.execute("SELECT * FROM orders WHERE order_date='2022-10-03'")
print(cursor.fetchall())

ProgrammingError: Cannot operate on a closed database.

In [15]:
cursor.execute("SELECT * FROM orders WHERE amount>300")
print(cursor.fetchall())

ProgrammingError: Cannot operate on a closed database.

In [22]:
cursor.execute("SELECT * FROM orders WHERE order_date='2022-10-03' ORDER BY amount DESC")
print(cursor.fetchall())

ProgrammingError: Cannot operate on a closed database.

In [23]:
cursor.execute("SELECT COUNT(DISTINCT order_date) FROM orders")
print(cursor.fetchone())

ProgrammingError: Cannot operate on a closed database.

In [24]:
cursor.execute("SELECT order_date, COUNT(*) FROM orders GROUP BY order_date")
print(cursor.fetchall())

ProgrammingError: Cannot operate on a closed database.

In [25]:
cursor.execute("SELECT AVG(amount) FROM orders")
print(cursor.fetchone())

ProgrammingError: Cannot operate on a closed database.

In [21]:
connection.close()

NameError: name 'connection' is not defined