# Day 1 : Python

In [46]:
print("Hi! How are you?")

Hi! How are you?

In [47]:
25*65

1625

# Python Program Example

In [51]:
x = input("Enter your name: ")

Enter your name: Arpan

In [53]:
x

'Arpan'

In [52]:
# Square root of a number
num = float(input("Enter a number: "))
res = num ** 0.5
print(res)

Enter a number: 121
11.0

In [13]:
x = 20
type(x)

int

In [14]:
z = 20

In [15]:
print(id(x))
print(id(z))

1936012411728
1936012411728

In [16]:
print("Arpan", end=" ")
print("Sardar")

Arpan Sardar

In [18]:
fname = "Arpan"
lname = "Sardar"

In [20]:
print("Hi! My name is " + fname + " " + lname)

Hi! My name is Arpan Sardar

In [21]:
print("Hi! My name is %s %s" % (fname, lname))

Hi! My name is Arpan Sardar

In [22]:
print("Hi! My name is {} {}".format(fname, lname))

Hi! My name is Arpan Sardar

In [24]:
print(f"Hi! My name is {fname} {lname}")

Hi! My name is Arpan Sardar

# Data Structures

In [34]:
# Tuples
# Lists
# Dictionaries
# Sets

### Tuples

In [36]:
t1 = (1, "abc", 'd', 2.1)

In [37]:
t2 = ("country", "india")

In [38]:
t1 + t2

(1, 'abc', 'd', 2.1, 'country', 'india')

In [39]:
t1[1:3]

('abc', 'd')

In [40]:
t1[-2]

'd'

In [41]:
t1[1:-1]

('abc', 'd')

In [42]:
t1[0] = 0

TypeError: 'tuple' object does not support item assignment

### Lists

In [44]:
l1 = [1, 'a', "abc"]

In [45]:
l1[0] = "Arpan"

In [54]:
l1.append('Sardar')

In [55]:
l1.clear()

In [56]:
l1

[]

In [57]:
del l1

In [58]:
l1

NameError: name 'l1' is not defined

In [59]:
l1 = [1, 'a', "abc"]

In [60]:
l2 = l1.copy()

In [61]:
l2

[1, 'a', 'abc']

In [62]:
l2.append("Arpan")

In [63]:
l1.count("Arpan")

0

In [64]:
l2.count("Arpan")

1

In [66]:
l1.extend(["Arpan", "Sardar", "Abc"])

In [69]:
l1

[1, 'a', 'abc', 'Arpan', 'Sardar', 'Abc']

In [70]:
l1.append([1, 2, 3])

In [71]:
l1

[1, 'a', 'abc', 'Arpan', 'Sardar', 'Abc', [1, 2, 3]]

In [72]:
l1.index([1, 2, 3])

6

In [75]:
l1.insert(3, 1)

In [76]:
l1

[1, 'a', 'abc', 1, 'Arpan', 'Sardar', 'Abc', [1, 2, 3]]

In [77]:
l1.index(1, 2)

3

In [78]:
l1.pop()

[1, 2, 3]

In [79]:
l1

[1, 'a', 'abc', 1, 'Arpan', 'Sardar', 'Abc']

In [80]:
l1.pop(3)

1

In [81]:
l1

[1, 'a', 'abc', 'Arpan', 'Sardar', 'Abc']

In [83]:
l1.remove('Abc')

In [84]:
l1

[1, 'a', 'abc', 'Arpan', 'Sardar']

In [85]:
l1.reverse()

In [86]:
l1

['Sardar', 'Arpan', 'abc', 'a', 1]

In [87]:
l1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [88]:
l3 = [3, 4, 1]

In [89]:
l3.sort()

In [90]:
l3

[1, 3, 4]

In [91]:
l3.sort(reverse=True)

In [92]:
l3

[4, 3, 1]

In [1]:
d1 = {'Id': 1278, 'Name': 'Arpan', 'Location': 'Bangalore'}

In [2]:
d1

{'Id': 1278, 'Name': 'Arpan', 'Location': 'Bangalore'}

In [3]:
d2 = {'Id': [1, 2, 3], 'Name': ['Alex', 'Chris', 'Kumar'], 'Age': 40}

In [4]:
d2

{'Id': [1, 2, 3], 'Name': ['Alex', 'Chris', 'Kumar'], 'Age': 40}

In [5]:
d2.keys()

dict_keys(['Id', 'Name', 'Age'])

In [6]:
d2.values()

dict_values([[1, 2, 3], ['Alex', 'Chris', 'Kumar'], 40])

In [10]:
type(d2)

dict

In [11]:
d2['Name']

['Alex', 'Chris', 'Kumar']

In [12]:
d2['Id']

[1, 2, 3]

In [13]:
d2['Name'][1]

'Chris'

In [14]:
d2.update({'Id': [0, 1, 2]})

In [15]:
d2

{'Id': [0, 1, 2], 'Name': ['Alex', 'Chris', 'Kumar'], 'Age': 40}

In [17]:
d2.update({'Country': 'India', 'Name': ['Alex', 'Chris', 'Nicole']})

In [18]:
d2

{'Id': [0, 1, 2],
 'Name': ['Alex', 'Chris', 'Nicole'],
 'Age': 40,
 'Country': 'India'}

In [19]:
d2['Name'][-1] = 'Kumar'

In [20]:
d2

{'Id': [0, 1, 2],
 'Name': ['Alex', 'Chris', 'Kumar'],
 'Age': 40,
 'Country': 'India'}

In [21]:
del d2['Country']

In [22]:
d2

{'Id': [0, 1, 2], 'Name': ['Alex', 'Chris', 'Kumar'], 'Age': 40}

### Sets

In [23]:
s1 = {1, 2, 3, 4, 1, 2, 5}

In [24]:
s1

{1, 2, 3, 4, 5}

In [25]:
s1[0]

TypeError: 'set' object is not subscriptable

In [26]:
s2 = {1, 2, 20, 4, 6, 5, 2}

In [27]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [28]:
s1 - s2

{3}

In [29]:
s2 - s1

{6, 20}

### String

In [34]:
s = "Python"

In [35]:
type(s)

str

In [37]:
list(s)

['P', 'y', 't', 'h', 'o', 'n']

In [39]:
s[1:-1]

'ytho'

In [40]:
s[0] = 'B'

TypeError: 'str' object does not support item assignment

In [46]:
l1 = ['1', '2', 'abc']
''.join(l1)

'12abc'

In [51]:
s = '''Programming
Language'''

In [52]:
s

'Programming\nLanguage'

In [53]:
90 in [1, 2, 90]

True

In [54]:
'mm' in 'programming'

True

### Conditional Statements

In [55]:
m = 32
if m < 40:
    print('f')
elif m < 60:
    print('c')
elif m < 75:
    print('b')
else:
    print('a')

f

### Loops

In [58]:
s1

{1, 2, 3, 4, 5}

In [59]:
for i in s1:
    print(i % 2)

1
0
1
0
1

In [64]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [62]:
for i in range(1, 10, 3):
    print(i)

1
4
7

### File Operations

In [65]:
import os

In [71]:
os.getcwd()

'C:\\Users\\arpan\\Documents\\python-training-edureka'

In [89]:
file = open(r"C:\Users\arpan\Desktop\India.txt")

In [90]:
file.read()

'India is my country'

In [91]:
file.tell()

19

In [92]:
file.close()

In [101]:
file=open(r"file.txt", "w")

In [102]:
file.write("Arpan Sardar")

12

In [103]:
file.close()

In [99]:
file = open("python.txt", "w")
file.write("Python is open source")
file.close()

In [100]:
file = open("python.txt", "a")
file.write("\nIt has community support")
file.close()

In [104]:
os.rename("file.txt", "name.txt")

In [106]:
os.remove("name.txt")

In [107]:
file.closed

True

In [108]:
file.mode

'w'

In [109]:
file.name

'file.txt'

In [111]:
file = open("python.txt")

In [112]:
file.seek(1)

1

In [113]:
file.tell()

1

In [114]:
file.close()

### Lambda Functions

In [116]:
def sqrt(x):
    return x**0.5
sqrt(4)

2.0

In [119]:
mylist = [16, 25, 68]

In [120]:
for i in mylist:
    print(sqrt(i))

4.0
5.0
8.246211251235321

In [121]:
list(map(lambda x : x ** 0.5, mylist))

[4.0, 5.0, 8.246211251235321]

In [123]:
list(map(sqrt, mylist))

[4.0, 5.0, 8.246211251235321]

### Classes & Objects

In [129]:
class Employee:
    def __init__(self, fname, lname, age, location):
        self.first_name = fname
        self.last_name = lname
        self.age = age
        self.location = location
        
    def showEmail(self):
        print(f"{self.first_name}.{self.last_name}@example.com")

In [130]:
obj = Employee("Arpan", "Sardar", 10, "Bangalore")

In [131]:
obj.first_name

'Arpan'

In [132]:
obj.showEmail()

Arpan.Sardar@example.com